# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.vscode

__pycache__/
*.pyc

cli/__pycache__/
cli/commands/__pycache__/
cli/core/__pycache__/

backend/__pycache__/
backend/routes/__pycache__/
backend/db/__pycache__/
backend/routes/CLI/__pycache__/
backend/routes/WEB/__pycache__/
backend/models/__pycache__/


cli/utils/__pycache__/
cli/build/


cli/selfops.egg-info/

dist


test.py
sub.py
pub.py
Test

test.db


venv
node_modules
